.services-section {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}
  
.service-card {
  transition: all 0.3s ease;
  background: #fff;
  border-radius: 16px;
  text-align: center !important
}
  
.service-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
  
.icon-box {
  width: 50px;
  height: 50px;;
  border-radius: 12px;
}
  
.bg-gradient-green {
  background: linear-gradient(135deg, #0ea5e9, #22c55e);
}
  
.bg-gradient-lime {
  background: linear-gradient(135deg, #84cc16, #facc15);
}
  
.bg-gradient-orange {
  background: linear-gradient(135deg, #f97316, #ef4444);
}
  
.bg-gradient-purple {
  background: linear-gradient(135deg, #6366f1, #9333ea);
}
  
.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}
  
.btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
  
.text-muted {
  color: #6b7280 !important;
}
