footer{
    background-color: #07162e;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    margin: 0 auto;
  }

.footer-link {
    color: white !important;
}